<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEyeWebService" />
                <binding name="BasicHttpsBinding_IEyeWebService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IEyeWebService1" />
                <binding name="BasicHttpsBinding_IEyeWebService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IEyeWebService2" />
                <binding name="BasicHttpsBinding_IEyeWebService2">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IEyeWebService3" />
                <binding name="BasicHttpsBinding_IEyeWebService3">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEyeWebService"
                contract="EyeService.IEyeWebService" name="BasicHttpBinding_IEyeWebService" />
            <endpoint address="https://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEyeWebService"
                contract="EyeService.IEyeWebService" name="BasicHttpsBinding_IEyeWebService" />
            <endpoint address="http://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEyeWebService1"
                contract="EyeService.IEyeWebService" name="BasicHttpBinding_IEyeWebService1" />
            <endpoint address="https://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEyeWebService1"
                contract="EyeService.IEyeWebService" name="BasicHttpsBinding_IEyeWebService1" />
            <endpoint address="http://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEyeWebService2"
                contract="EyeService.IEyeWebService" name="BasicHttpBinding_IEyeWebService2" />
            <endpoint address="https://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEyeWebService2"
                contract="EyeService.IEyeWebService" name="BasicHttpsBinding_IEyeWebService2" />
            <endpoint address="http://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEyeWebService3"
                contract="EyeRef2.IEyeWebService" name="BasicHttpBinding_IEyeWebService3" />
            <endpoint address="https://eyeplatform.azurewebsites.net/EyeWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEyeWebService3"
                contract="EyeRef2.IEyeWebService" name="BasicHttpsBinding_IEyeWebService3" />
        </client>
    </system.serviceModel>
</configuration>